.item{
    width: 270px;
    height: 300px;
}
.item_image{
    width: 250px !important;
    height: 100% !important;
}
.item_image img{
    width: 220px !important;
    height: 220px;
    object-fit: cover;
}
.item_image h5{
    margin-top: 20px;
}